[Unit]
Description = Remote Shell Executor Service
After network.target = ShellExeService.service

[Service]
Type = forking
ExecStart = /usr/local/bin/ShellExeService.sh start
ExecStop = /usr/local/bin/ShellExeService.sh stop
ExecReload = /usr/local/bin/ShellExeService.sh restart

[Install]
WantedBy=multi-user.target